/* Set the min-width so that when the window is resized the look will stay consistant */

.charsheet {
	background-color: rgb(255, 255, 255);
    width: 950px;
}

/* General Universal stylings for sheet */

label, input, button, select, textarea {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.2em;
    padding: 1px;
    margin: 1px;
}

textarea{
    box-sizing: border-box;
    height: 70px;
}

input {
    background-color: transparent;
    border: solid 1px transparent;
}

input:hover {
    background-color: rgba(0, 124, 234, 0.25);
    border: solid 1px black;
}

input[readonly="true"],
input[disabled="true"],
textarea[readonly="true"],
textarea[disabled="true"] {
    cursor: default;
    background-color: transparent;
    border: solid 1px transparent;
}

input[readonly="true"]:hover,
input[disabled="true"]:hover,
textarea[readonly="true"]:hover,
textarea[disabled="true"]:hover {
    border: solid 1px transparent;
    background-color: transparent;
}

/* place item controls infront of relative elements */
.itemcontrol{
  z-index: 5;
}
/* replace add and modify with pictos icons*/
.btn.repcontrol_add::after{
    content: "&";
    font-family: "Pictos";
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}
.btn.repcontrol_edit::after{
    content: ")";
    font-family: "Pictos";
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}
.editmode ~ .repcontrol .btn.repcontrol_edit::after{
    content: "(";
}
.btn.repcontrol_del::after{
    content: "#";
    font-family: "Pictos";
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}

.charsheet .repcontrol_add,
.charsheet .repcontrol_edit,
.charsheet .repcontrol_move{
    background:#b6d0ff;
    border: 1px solid gray
}

.charsheet .repcontrol_add,
.charsheet .repcontrol_edit,
.charsheet .repcontrol_del{
    font-size: 0;
    padding: 2px 6px 2px 6px;
    margin: 1px;
    line-height: inherit;
}

.charsheet .repcontrol{
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
}

/* roll button styling */

.charsheet button[type="roll"].btn{
    border: 0;
    background: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: inherit;
    padding: 0;
    margin: 0;
}

.charsheet button[type="roll"].btn::before{
    display:none;
}

.charsheet button[type="roll"].btn:hover{
    color: red;
}

/* Make inputs fit parent containers*/
input {
	display: inline-block;
    width: 100%;
}

img {
	max-height: 100px;
}

textarea {
	resize: vertical;
}

select {
    margin: 0;
}

/* common styles */
.sheet-tinytext{
    font-size: 8px;
}

.sheet-border{
    border: solid black 2px;
}

/* 4 column layout*/
.sheet-layout-4col,
.sheet-layout-3col{
    display: flex;
    clear: both;
}

.sheet-layout-4col .sheet-layout-col{
    width: calc(25% - 15px); /* four column first */
    margin-right: 14px;
}

.sheet-layout-3col .sheet-layout-col{
    width: calc(33% - 15px); /* four column first */
    margin-right: 14px;
}

/* top logo */
.sheet-image-game-logo{
    background-image: url('https://github.com/rivroy/roll20-Last-Arc-Tactics-Analogue/raw/master/images/game-logo.png');
    background-size: contain;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}


/* Targetted styling that only effects elements with these classes */

.sheet-flex-row{
  display: flex;
  flex-direction: row;
}

.sheet-text-left{
    text-align: left;
}

.sheet-text-center{
    text-align: center;
}

.sheet-text-right{
    text-align: right;
}

.sheet-flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* field underlines */
.sheet-field-underline {
  margin-bottom: 14px;
  border-top:0;
  border-left:0;
  border-right:0;
  border-width: 0px 20px 10px 20px;
  border-style: solid;
  border-image: url('https://github.com/rivroy/roll20-Last-Arc-Tactics-Analogue/raw/master/images/field-border-underline.png') 0 150 50% 150 round stretch
}

.sheet-field-underline .sheet-input-wrap{
  position: relative;
  display: block;
  width: 100%;
}

.sheet-field-underline .sheet-label{
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  font-size: 0.8em;
}

.sheet-field-underline input{
  display: block;
  padding: 0;
  margin-bottom: -5px;
}

.sheet-field-underline .sheet-input-wrap:not(:last-child) input{
  padding-right:3px;
}

/* end field underlines */

/* sheet-section-misc-center */

.sheet-section-misc-center .sheet-stat-stack{
    width:100%;
}

.sheet-section-misc-center .sheet-stat-stack .sheet-label{
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}

.sheet-section-misc-center .sheet-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: contain;
    height: 75px;
    background-repeat: no-repeat;
}


.sheet-section-misc-center .sheet-icon-border-heropoints{
    background-image: url('https://github.com/rivroy/roll20-Last-Arc-Tactics-Analogue/raw/master/images/hero-points-background.png');
}

.sheet-section-misc-center .sheet-icon-border-damagereduction{
    background-image: url('https://github.com/rivroy/roll20-Last-Arc-Tactics-Analogue/raw/master/images/damage-reduction-background.png');
}

.sheet-section-misc-center .sheet-icon-border-baseattackbonus{
    background-image: url('https://github.com/rivroy/roll20-Last-Arc-Tactics-Analogue/raw/master/images/base-attack-bonus-background.png');
}

.sheet-icon-border-baseattackbonus{
    background-image: url('https://github.com/rivroy/roll20-Last-Arc-Tactics-Analogue/raw/master/images/damage-threshold-background.png');
}

.sheet-section-misc-center .sheet-stat-stack input{
    margin: 0 auto;
    padding: 0;
    width: 35px;
    height: 35px;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
}

/* end sheet section misc center */

/* sheet-section-hp-mana */

.sheet-section-hp-mana .sheet-stat-stack{
    width:100%;
}

.sheet-section-hp-mana .sheet-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 90px;
    min-height: 90px;
    z-index: 1;
}

.sheet-section-hp-mana .sheet-icon-border-hitpoints{
    background-image: url('https://github.com/rivroy/roll20-Last-Arc-Tactics-Analogue/raw/master/images/hit-point-background.png');
}

.sheet-section-hp-mana .sheet-icon-border-mana{
    background-image: url('https://github.com/rivroy/roll20-Last-Arc-Tactics-Analogue/raw/master/images/mana-background.png');
}

.sheet-section-hp-mana .sheet-icon input{
    margin: 0 auto;
    padding: 0;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

.sheet-section-hp-mana .sheet-group-right .sheet-label{
    font-weight: bold;
    font-size: 0.8em;
    margin-top:9px;
}

.sheet-section-hp-mana .sheet-group-right input{
    border: solid 3px black;
    border-left: 0;
    margin-left: -18px;
    padding-left: 14px;
    text-align: center;
    font-size: 1.5em;
}


/* end sheet-section-hp-mana */

/* sheet-section-attacks */

.sheet-section-attacks {
  margin: 4px;
  padding: 2px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.sheet-section-attacks .sheet-grid-one {
  grid-area: 1 / 1 / 2 / 7;
}

.sheet-section-attacks .sheet-grid-two {
  grid-area: 1 / 7 / 2 / 9;
}

.sheet-section-attacks .sheet-grid-three {
  grid-area: 2 / 1 / 3 / 4;
}

.sheet-section-attacks .sheet-grid-four {
  grid-area: 2 / 4 / 3 / 6;
}

.sheet-section-attacks .sheet-grid-five {
  grid-area: 2 / 6 / 3 / 9; 
}

.sheet-section-attacks .sheet-input-wrap{
  position: relative;
  display: block;
  width: 100%;
}

.sheet-section-attacks .sheet-label{
    position: absolute;
    width: auto;
    padding: 0;
    margin: 0 0 0 3px;
    color: grey;
    top: 0;
    left: 0;
    font-size: 0.7em;
    line-height: 1.4em;
}


.sheet-section-attacks input {
  background: #eaeaea;
  border: solid 1px transparent;
  margin: 0;
  padding: 10px 0 0 8px;
}

.sheet-section-attacks input:hover {
  border: solid 1px grey;
}

/* end sheet-section-attacks */

/* section condition */

.sheet-section-condition .sheet-conditionlabel {
    text-align: center;
    font-weight: bold;
}

.sheet-section-condition .sheet-condition-radio-container{
    justify-content: space-around;
    width: 100%;
}

/* end section condition */

/* section inventory */

.sheet-section-inventory .sheet-label {
  font-size: 0.9em;
  text-align: center;
  padding: 0;
  margin: 1px;
}

.sheet-section-inventory .sheet-inventory-header .sheet-label {
  text-align: center;
  font-weight: bold;
}

.sheet-section-inventory .sheet-inventory-header div:nth-child(2) {
    flex-grow: 1;
}

.sheet-section-inventory .sheet-inventory-header div:nth-child(1), 
.sheet-section-inventory .sheet-inventory-header div:nth-child(3) {
    width:30px;
}

.sheet-section-inventory .sheet-inventory-line.sheet-flex-row div:nth-child(2){
    flex-grow: 1;
}

.sheet-section-inventory .sheet-inventory-line div {
  margin: 2px;
}

.sheet-section-inventory .sheet-inventory-line div:nth-child(1) input, 
.sheet-section-inventory .sheet-inventory-line div:nth-child(3) input {
    text-align: center;
    font-weight: bold;
    width:30px;
}  

.sheet-section-inventory .repcontainer input{
  background: #e8e8e8;
  border: solid 1px transparent;
  padding: 3px 3px;
  margin:0;
  font-size: 0.85em;
}


.sheet-section-inventory .sheet-flex-row.sheet-inventory-total{
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    justify-content: space-between;
    padding: 0 4px;
    font-weight: bold;
}

.sheet-section-inventory .inventory-maximumbulk{

}

.sheet-section-inventory input.sheet-inventory-maxbulkinput{
    border: 2px black solid;
    width: 35px;
    padding: 1px;
    margin: 0;
}


/* end section inventory*/

/* section banner */
.sheet-section-banner{
    border-width: 8px 60px 8px 60px;
    border-style: solid;
    border-image: url('https://github.com/rivroy/roll20-Last-Arc-Tactics-Analogue/raw/master/images/section-banner.png') 17 115 15 115 round stretch;
    z-index: 1;
    position: relative;
}

.sheet-section-banner .sheet-section-banner-label{
    font-size: 1.2em;
    background: black;
    color:white;
    text-align: center;
    font-weight: bold;
}

/* end section banner */

/* section border */

.sheet-section-border{
    border-width: 0 14px 14px 14px;
    border-style: solid;
    border-image: url('https://github.com/rivroy/roll20-Last-Arc-Tactics-Analogue/raw/master/images/section-border.png') 24 24 24 24 round stretch;
    margin: -6px 20px 0 20px;
    padding-top: 4px;
}

/* end section border*/

/* thermo bars */
.sheet-thermo{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  
.sheet-thermo-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sheet-thermo-header .sheet-tinytext{
    width: 26px;
    text-align: center;
}
  
.sheet-thermo .sheet-thermo-start{
    background-image: url('https://github.com/rivroy/roll20-Last-Arc-Tactics-Analogue/raw/master/images/thermo-start-background.png');
    background-size: cover;
    width:32px;
    height:32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sheet-thermo .sheet-thermo-start input,
.sheet-thermo .sheet-thermo-start span{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
  
.sheet-thermo .sheet-thermo-label{
    background-image: url('https://github.com/rivroy/roll20-Last-Arc-Tactics-Analogue/raw/master/images/thermo-label-background.png');
    background-size: cover;
    width:105px;
    height:26px;
    display: flex;
    align-items: center;
}

.sheet-thermo .sheet-thermo-label div,
.sheet-thermo .sheet-thermo-label input{
    font-size: 1.1em;
    font-weight: bold;
    margin: 6px;
    padding: 0;
    display: flex;
}

.sheet-thermo .sheet-thermo-node{
    background-image: url('https://github.com/rivroy/roll20-Last-Arc-Tactics-Analogue/raw/master/images/thermo-node-background.png');
    background-size: cover;
    width:26px;
    height:26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sheet-thermo .sheet-thermo-node:nth-child(even){
    border: solid 3px #d7d7d7;
    border-left: 0;
    border-right: 0;
}

.sheet-thermo .sheet-thermo-end{
    background-image: url('https://github.com/rivroy/roll20-Last-Arc-Tactics-Analogue/raw/master/images/thermo-end-background.png');
    background-size: cover;
    width:26px;
    height:26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sheet-thermo .sheet-thermo-node input,
.sheet-thermo .sheet-thermo-end input,
.sheet-thermo .sheet-thermo-node span,
.sheet-thermo .sheet-thermo-end span{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}


/* end horizontal bars */

/* feats */

.sheet-section-feats .sheet-feat-container{
    margin: 2px;
    padding: 2px;
}

.sheet-section-feats .sheet-feat-title{
    display: block;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    font-weight: bold;
}

.sheet-section-feats .sheet-feat-subtitle-container{
    line-height: 8px;
    padding-bottom: 4px;
}

.sheet-section-feats .sheet-feat-subtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
}

.sheet-section-feats .sheet-feat-row-input{
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

.sheet-section-feats .sheet-feat-row-input input,
.sheet-section-feats .sheet-feat-row-input select{
    padding: 1px;
    margin: 0;
    height: auto;
}


.sheet-section-feats .sheet-feat-editing{
    box-shadow: 0 0 0 2px black;
    outline: dashed 2px yellow;
    padding: 3px;
}


/* end feats */

/* spells section */

.sheet-section-spells .sheet-spell-title{
    display: block;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    font-weight: bold;
}

.sheet-section-spells .sheet-spell-subtitle-container{
    line-height: 8px;
    padding-bottom: 4px;
}

.sheet-section-spells .sheet-spell-subtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
}

.sheet-section-spells .sheet-spell-row-input{
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

.sheet-section-spells .sheet-spell-row-input input,
.sheet-section-spells .sheet-spell-row-input select{
    padding: 1px;
    margin: 0;
    height: auto;
}

.sheet-section-spells .sheet-spell-editing{
    box-shadow: 0 0 0 2px black;
    outline: dashed 2px yellow;
    padding: 3px;
}

.sheet-section-spells .sheet-spell-row-input span{
    font-size:0.8em;
    font-weight: bold;
}

.sheet-section-spells .sheet-spell-row-input input{
    border-bottom: solid 1px #8e8e8e;
    line-height: 1.2em;
}

/* end spells section */

/* start toggle*/

.sheet-toggle-container{
    position: relative;
}

/* hide these since we use label::after to simulate icons*/
.sheet-toggle-hide,
.sheet-toggle-show,
.sheet-toggle-swap{
    position: absolute;
    width: auto;
    opacity: 0;
    top: -9999px;
    left: -9999px;
    margin: 0;
    padding: 0;
}

.sheet-toggle-label-wrapper{
    position: absolute;
    width: auto;
    right: 0;
    top: 0;
}


.sheet-toggle-label-wrapper::before{
    z-index: 5;
    font-family: "Pictos";
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    position: absolute;
    right: 0;
    width: auto;
    margin: 0;
    padding: 0;
}

.sheet-toggle-label-wrapper.sheet-right-far::before{
    right: 0;
}
.sheet-toggle-label-wrapper.sheet-right-middle::before{
    right: 18px;
}
.sheet-toggle-label-wrapper.sheet-right-close::before{
    right: 32px;
}
/* make eye show icons hide unless hovered*/
.sheet-feat-container:hover .sheet-toggle-label-wrapper.sheet-show-icon::before,
.sheet-spell-container:hover .sheet-toggle-label-wrapper.sheet-show-icon::before{
    content: "E";
}
.sheet-toggle-label-wrapper.sheet-show-icon:hover::before{
    color:darkturquoise;
}
.sheet-feat-container:hover .sheet-toggle-hide:checked ~ .sheet-toggle-label-wrapper.sheet-show-icon::before,
.sheet-spell-container:hover .sheet-toggle-hide:checked ~ .sheet-toggle-label-wrapper.sheet-show-icon::before{
        content: "E";
}
/* make edit icons hide unless editing*/
.sheet-feat-container:hover .sheet-toggle-label-wrapper.sheet-edit-icon::before,
.sheet-spell-container:hover .sheet-toggle-label-wrapper.sheet-edit-icon::before{
        content: "y";
}
.sheet-toggle-label-wrapper.sheet-edit-icon:hover::before{
    color:darkturquoise;
}
.sheet-toggle-swap:checked ~ .sheet-toggle-label-wrapper.sheet-edit-icon::before{
    content: "y";
}


/* toggling show, hide, swap*/

input.sheet-toggle-show:not(:checked) ~ .sheet-toggle-body,
input.sheet-toggle-hide:checked ~ .sheet-toggle-body {
    display: none;
}

.sheet-toggle-swap-a,
.sheet-toggle-swap:checked ~ .sheet-toggle-swap-b {
  display: block;
}

.sheet-toggle-swap-b,
.sheet-toggle-swap:checked ~ .sheet-toggle-swap-a {
  display: none;
}

/* end toggle*/

/* character pages */

/*Configure the tab buttons*/
.sheet-page-character,
.sheet-page-spells,
.sheet-page-journal {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="pagecharacter"] ~ div.sheet-page-character,
.sheet-tabstoggle[value="pagespells"] ~ div.sheet-page-spells,
.sheet-tabstoggle[value="pagejournal"] ~ div.sheet-page-journal {
	display: block;
}

/* end character pages */



/* custom roll template */

/* Smaller margins - remove these if you want the huge default left margin */
.sheet-rolltemplate-simple {
    margin-left: -37px;
    display: flex;
    justify-content: center;
}
.withoutavatars .sheet-rolltemplate-simple {
    margin-left: -7px;
}

.sheet-rolltemplate-simple .sheet-container {
    border: 1px solid;
    /* by default, the border is the same color as the header. You can change this here, e.g. to black */
    border-color: var(--header-bg-color);
    padding: 6px;
    border-radius: 10px;
    min-width: 80px;
}

/* Header formatting - title and subtitle */
.sheet-rolltemplate-simple .sheet-header {
    background-color: var(--header-bg-color);
    /* change text-align to center to center the header text */
    text-align: left;
    color: var(--header-text-color);
}

.sheet-rolltemplate-simple .sheet-content + .sheet-header{
    border-bottom: solid 1px black;
}

.sheet-rolltemplate-simple .sheet-title {
    font-size:1em;
    text-align: center;
    font-weight: bold;
}

.sheet-rolltemplate-simple .sheet-subtitle {
    font-size:0.8em;
    text-align: center;
    font-style: italic;
    color: gray;
}

.sheet-rolltemplate-simple .sheet-description {
    font-size:0.9em;
}

.sheet-rolltemplate-simple .sheet-roll {
    text-align: center;
    font-size: 1.2em;
    margin: 3px 0;
}

.sheet-rolltemplate-simple .sheet-roll .inlinerollresult{
    display: inline-block;
    background-color: #fff;
    border: 2px solid transparent;
}

.sheet-rolltemplate-simple .sheet-roll .inlinerollresult.fullcrit{
    background-color: rgb(171, 253, 142);
    border: 2px solid #3FB315;
}

.sheet-rolltemplate-simple .sheet-roll .inlinerollresult.fullfail{
    background-color: #FFB1B1;
    border: 2px solid #B31515;
}

.sheet-rolltemplate-simple .sheet-container {
    /* this is the default color */
    background: white;
}

.sheet-rolltemplate-simple .sheet-content {
    background: #FFF;
}
.sheet-rolltemplate-simple .sheet-content > div {
    padding: 5px;
}

.sheet-rolltemplate-simple .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-simple .sheet-content :nth-child(4n) {
    background:#EEE;
}

/* Description field */
.sheet-rolltemplate-simple .sheet-desc {
    grid-column: span 2;
    padding: 5px;
    text-align: center;
}

/* spell custom roll template */

.sheet-rolltemplate-spell .sheet-header {
    border-radius: 5px 5px 0 0;
    overflow: hide;
    overflow: hidden;
    border: 1px solid black;
    background: white;
    padding: 4px;
}

.sheet-rolltemplate-spell .sheet-content + .sheet-header{
    border-bottom: solid 1px black;
}

.sheet-rolltemplate-spell .sheet-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    line-height: 1.2em;
    font-weight: bold;
}

.sheet-rolltemplate-spell .sheet-subtitle {
    font-size:0.8em;
    text-align: left;
    font-style: italic;
    color: gray;
}

.sheet-rolltemplate-spell .sheet-container {
}

.sheet-rolltemplate-spell .sheet-content {
    background: #FFF;
    border: solid 1px black;
    border-radius: 0 0 5px 5px;
    padding: 0 4px 4px 4px;
}

.sheet-rolltemplate-spell .sheet-content > div {
    font-size:0.9em;
    line-height: 1.2em;
    padding-top: 4px;
}

.sheet-rolltemplate-spell .sheet-content .sheet-content-label{
    color: gray;
    line-height: 1.2em;
    font-size: 0.8em;
}

/* card custom roll template */
.sheet-rolltemplate-card .sheet-header {
    background-color: var(--header-bg-color);
    /* change text-align to center to center the header text */
    text-align: left;
    color: var(--header-text-color);
}

.sheet-rolltemplate-card .sheet-content + .sheet-header{
    border-bottom: solid 1px black;
}

.sheet-rolltemplate-card .sheet-title {
    font-size:1em;
    text-align: left;
    font-weight: bold;
    background: rgb(25,173,212);
    background: linear-gradient(90deg, rgba(25,173,212,1) 0%, rgba(255,255,255,1) 100%);
}

.sheet-rolltemplate-card .sheet-subtitle {
    font-size:0.8em;
    text-align: left;
    font-style: italic;
    color: gray;
    background: #e6e6e6;
}

.sheet-rolltemplate-card .sheet-container {
    /* this is the default color */
    background: white;
}

.sheet-rolltemplate-card .sheet-content {
    background: #FFF;
}
.sheet-rolltemplate-card .sheet-content > div {
    padding: 5px;
    font-size:0.9em;
}

/* Make even-numbered rows grey */
.sheet-rolltemplate-card .sheet-content :nth-child(even) {
    background:#EEE;
}


/* end custom roll template */


